@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Exo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Exo 2", sans-serif;
}

body {
  background: -webkit-gradient(linear, left bottom, left top, from(#27252a), color-stop(#383238), color-stop(#504349), to(#6c5e61));
  background: linear-gradient(0deg, #27252a, #383238, #504349, #6c5e61);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 18s ease infinite;
  animation: AnimationName 18s ease infinite;
}

.logo {
  width: 60px;
}

.navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px 0px 20px 20px;
}
.navbar-collapse .nav-link {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin: 5px;
  border-radius: 1rem;
}
.navbar-collapse .nav-link:hover {
  color: #fff;
  background-color: #000;
}

.HeaderGrid {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr;
  grid-template-rows: 4fr 2fr;
  height: 200vh;
}
.HeaderGrid .HeaderGridBienvenida {
  text-align: center;
  margin-top: 30%;
  grid-column: 2/2;
  grid-row: 3/1;
}
.HeaderGrid .HeaderGridBienvenida h1 {
  margin-top: 200px;
  font-size: 70px;
  font-family: "Anton", sans-serif;
  color: #fff;
  -webkit-animation: move linear 2000ms infinite;
          animation: move linear 2000ms infinite;
}
.HeaderGrid .HeaderGridBienvenida p {
  font-size: 30px;
  color: #fff;
}
.HeaderGrid .HeaderGridBienvenida .BtnHeader {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  background-color: #ff0000;
  border-radius: 1rem;
  padding: 10px;
}
.HeaderGrid .HeaderGridimg {
  margin: 80px;
  grid-column: 1/1;
  grid-row: 1/2;
}
.HeaderGrid .HeaderGridimg img {
  width: 90%;
}
.HeaderGrid .HeaderGridinfo {
  text-align: center;
  margin-top: 30%;
  grid-column: 2/2;
  grid-row: 2/2;
}
.HeaderGrid .HeaderGridinfo h2 {
  font-size: 60px;
  font-family: "Anton", sans-serif;
  color: #fff;
}
.HeaderGrid .HeaderGridinfo p {
  font-size: 30px;
  color: #fff;
}
.HeaderGrid .HeaderGridinfo .BtnHeader {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  background-color: #ff0000;
  border-radius: 1rem;
  padding: 10px;
}
.HeaderGrid .HeaderGridimg1 {
  height: 100vh;
  grid-column: 1/1;
  grid-row: 2/3;
}
.HeaderGrid .HeaderGridimg1 img {
  width: 80%;
}

.HeaderProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}
.HeaderProductos h1 {
  font-family: "Anton", sans-serif;
  font-size: 80px;
  color: #fff;
  -webkit-animation: move linear 2000ms infinite;
          animation: move linear 2000ms infinite;
}

.HeaderJuegos {
  height: 120vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(56, 50, 56);
  background: linear-gradient(7deg, rgb(56, 50, 56) 30%, rgb(39, 37, 42) 84%);
}
.HeaderJuegos h1 {
  font-family: "Anton", sans-serif;
  font-size: 80px;
  color: #fff;
  -webkit-animation: move linear 2000ms infinite;
          animation: move linear 2000ms infinite;
}
.HeaderJuegos .HeaderContentJuegos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.HeaderJuegos .HeaderContentJuegos .BtnHeader {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  background-color: #ff0000;
  border-radius: 1rem;
  padding: 10px;
}

.HeaderContacto {
  height: 50vh;
}

.ContainerProductos .ProductosMouse {
  height: 60vh;
}
.ContainerProductos .ProductosMouse .card-body p {
  font-size: 20px;
}
.ContainerProductos .ProductosMouse .card-body p span {
  color: rgb(255, 0, 0);
  font-size: 28px;
}
.ContainerProductos .TitleMouse {
  background-color: aqua;
  padding: 20px;
  text-align: center;
  font-size: 60px;
}

.ContainerProductos2 .ProductosTeclados {
  height: 60vh;
}
.ContainerProductos2 .TitleTeclados {
  background-color: red;
  padding: 20px;
  text-align: center;
  font-size: 60px;
}

.ContainerProductos3 .ProductosAudifonos {
  height: 60vh;
}
.ContainerProductos3 .TitleAudifonos {
  background-color: green;
  padding: 20px;
  text-align: center;
  font-size: 60px;
}

/*Juegoshtml */
.ContainerProductosJuegos .ProductosJuegos {
  height: 60vh;
}
.ContainerProductosJuegos .ProductosJuegos .card-body p {
  font-size: 20px;
}
.ContainerProductosJuegos .ProductosJuegos .card-body p span {
  color: rgb(255, 0, 0);
  font-size: 28px;
}
.ContainerProductosJuegos .TitleJuegos {
  background-color: aqua;
  padding: 20px;
  text-align: center;
  font-size: 60px;
}

.HomeContent {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(4, 2fr);
  text-align: center;
  gap: 20px;
  height: 100vh;
}
.HomeContent .HomeTitle {
  grid-column: 2/4;
  grid-row: 1/2;
  font-size: 60px;
  font-family: "Anton", sans-serif;
  color: #fff;
}
.HomeContent .Data1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: rgb(253, 253, 253);
  border-radius: 10px;
  margin: 20px;
  height: 500px;
  grid-column: 1/1;
  grid-row: 2/2;
  -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
}
.HomeContent .Data1 h2 {
  font-family: "Anton", sans-serif;
}
.HomeContent .Data1 .DivData {
  width: 100%;
  height: 100px;
}
.HomeContent .Data1 .DivData p {
  padding: 10px;
  font-size: 20px;
}
.HomeContent .Data1 img {
  padding: 20px;
  width: 100%;
}
.HomeContent .Data2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
  height: 500px;
  grid-column: 2/2;
  grid-row: 2/2;
  -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
}
.HomeContent .Data2 h2 {
  font-family: "Anton", sans-serif;
}
.HomeContent .Data2 .DivData {
  width: 100%;
  height: 100px;
}
.HomeContent .Data2 .DivData p {
  padding: 20px;
  font-size: 20px;
}
.HomeContent .Data2 img {
  width: 100%;
  padding: 20px;
}
.HomeContent .Data3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
  height: 500px;
  grid-column: 3/3;
  grid-row: 2/3;
  -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
}
.HomeContent .Data3 h2 {
  font-family: "Anton", sans-serif;
}
.HomeContent .Data3 .DivData {
  width: 100%;
  height: 100px;
}
.HomeContent .Data3 .DivData p {
  padding: 20px;
  font-size: 20px;
}
.HomeContent .Data3 img {
  width: 100%;
  padding: 20px;
}
.HomeContent .Data4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
  height: 500px;
  grid-column: 4/4;
  grid-row: 2/3;
  -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
}
.HomeContent .Data4 h2 {
  font-family: "Anton", sans-serif;
}
.HomeContent .Data4 .DivData {
  width: 100%;
  height: 100px;
}
.HomeContent .Data4 .DivData p {
  padding: 20px;
  font-size: 20px;
}
.HomeContent .Data4 img {
  width: 100%;
  padding: 20px;
}

.HomeContent2 {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(4, 2fr);
  height: 100vh;
}
.HomeContent2 .HomeTitle2 {
  color: #fff;
  text-align: center;
  font-size: 80px;
  grid-column: 2/4;
  grid-row: 1/2;
  font-family: "Anton", sans-serif;
}
.HomeContent2 .Data5 {
  background-color: #f3f3f3;
  grid-row: 2/4;
  grid-column: 2/4;
  border-radius: 1rem;
}
.HomeContent2 .Data5 .fa-check {
  margin: 10px;
  margin-top: 16px;
  font-size: 24px;
}
.HomeContent2 .Data5 .fa-check span {
  margin-left: 10px;
  font-size: 18px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.card {
  width: 280px;
  margin-bottom: 20px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  margin-top: 10px;
}

.card p {
  margin-bottom: 10px;
}

.card .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

.ContainerEquipo1 {
  background-color: rgb(188, 197, 197);
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(3, 2fr);
}
.ContainerEquipo1 .Equipo1 {
  grid-column: 4/4;
  grid-row: 1/4;
}
.ContainerEquipo1 .Equipo1 .Equipo {
  margin-top: 70px;
  height: 700px;
}
.ContainerEquipo1 .Caracteristicas {
  text-align: center;
  grid-column: 2/4;
  grid-row: 2/2;
}
.ContainerEquipo1 .Caracteristicas h2 {
  font-size: 78px;
  font-family: "Anton", sans-serif;
}
.ContainerEquipo1 .Caracteristicas p {
  font-size: 30px;
}

.ContainerEquipo2 {
  background-color: rgb(188, 197, 197);
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(3, 2fr);
}
.ContainerEquipo2 .Equipo2 {
  grid-column: 1/1;
  grid-row: 1/4;
}
.ContainerEquipo2 .Equipo2 .Equipo {
  margin-top: 70px;
  height: 700px;
}
.ContainerEquipo2 .Caracteristicas2 {
  text-align: center;
  grid-column: 2/4;
  grid-row: 2/2;
}
.ContainerEquipo2 .Caracteristicas2 h2 {
  font-size: 78px;
  font-family: "Anton", sans-serif;
}
.ContainerEquipo2 .Caracteristicas2 p {
  font-size: 30px;
}

.ContainerEquipo3 {
  background-color: rgb(188, 197, 197);
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(3, 2fr);
}
.ContainerEquipo3 .Equipo3 {
  grid-column: 4/4;
  grid-row: 1/4;
}
.ContainerEquipo3 .Equipo3 .Equipo {
  margin-top: 70px;
  height: 700px;
}
.ContainerEquipo3 .Caracteristicas3 {
  text-align: center;
  grid-column: 2/4;
  grid-row: 2/2;
}
.ContainerEquipo3 .Caracteristicas3 h2 {
  font-size: 78px;
  font-family: "Anton", sans-serif;
}
.ContainerEquipo3 .Caracteristicas3 p {
  font-size: 30px;
}

.MainContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

form {
  background-color: #f2f2f2;
  width: 70%;
  height: 100%;
  padding: 20px;
}
form h2 {
  text-align: center;
}
form label {
  display: block;
  margin-bottom: 10px;
}
form input[type=text],
form input[type=email],
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}
form input[type=submit] {
  background-color: #008000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@-webkit-keyframes move {
  0% {
    text-shadow: 4px -4px 0 rgb(5, 5, 5), 3px -3px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -4px 4px 0 rgb(121, 131, 131), -3px 3px 0 rgb(99, 110, 110), -2px 2px 0 rgb(86, 94, 94), -1px 1px 0 rgb(55, 59, 59);
  }
  25% {
    text-shadow: -4px -4px 0 rgb(46, 48, 48), -3px -3px 0 rgb(54, 54, 54), -2px -2px 0 rgb(88, 90, 90), -1px -1px 0 rgb(103, 107, 107), 4px 4px 0 rgb(0, 0, 0), 3px 3px 0 rgb(17, 15, 15), 2px 2px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
  }
  50% {
    text-shadow: -4px 4px 0 rgb(0, 0, 0), -3px 3px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 4px -4px 0 rgb(70, 66, 67), 3px -3px 0 rgb(44, 46, 46), 2px -2px 0 rgb(64, 66, 66), 1px -1px 0 rgb(55, 56, 56);
  }
  75% {
    text-shadow: 4px 4px 0 rgb(0, 0, 0), 3px 3px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0), -4px -4px 0 rgb(65, 61, 61), -3px -3px 0 rgb(54, 50, 50), -2px -2px 0 rgb(128, 126, 126), -1px -1px 0 rgb(105, 95, 95);
  }
  100% {
    text-shadow: 4px -4px 0 rgb(70, 66, 66), 3px -3px 0 rgb(75, 72, 72), 2px -2px 0 rgb(68, 62, 62), 1px -1px 0 rgb(56, 52, 52), -4px 4px 0 rgb(7, 7, 7), -3px 3px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
  }
}

@keyframes move {
  0% {
    text-shadow: 4px -4px 0 rgb(5, 5, 5), 3px -3px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -4px 4px 0 rgb(121, 131, 131), -3px 3px 0 rgb(99, 110, 110), -2px 2px 0 rgb(86, 94, 94), -1px 1px 0 rgb(55, 59, 59);
  }
  25% {
    text-shadow: -4px -4px 0 rgb(46, 48, 48), -3px -3px 0 rgb(54, 54, 54), -2px -2px 0 rgb(88, 90, 90), -1px -1px 0 rgb(103, 107, 107), 4px 4px 0 rgb(0, 0, 0), 3px 3px 0 rgb(17, 15, 15), 2px 2px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
  }
  50% {
    text-shadow: -4px 4px 0 rgb(0, 0, 0), -3px 3px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), 4px -4px 0 rgb(70, 66, 67), 3px -3px 0 rgb(44, 46, 46), 2px -2px 0 rgb(64, 66, 66), 1px -1px 0 rgb(55, 56, 56);
  }
  75% {
    text-shadow: 4px 4px 0 rgb(0, 0, 0), 3px 3px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0), -4px -4px 0 rgb(65, 61, 61), -3px -3px 0 rgb(54, 50, 50), -2px -2px 0 rgb(128, 126, 126), -1px -1px 0 rgb(105, 95, 95);
  }
  100% {
    text-shadow: 4px -4px 0 rgb(70, 66, 66), 3px -3px 0 rgb(75, 72, 72), 2px -2px 0 rgb(68, 62, 62), 1px -1px 0 rgb(56, 52, 52), -4px 4px 0 rgb(7, 7, 7), -3px 3px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
  }
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 53% 0%;
  }
  50% {
    background-position: 48% 100%;
  }
  100% {
    background-position: 53% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 53% 0%;
  }
  50% {
    background-position: 48% 100%;
  }
  100% {
    background-position: 53% 0%;
  }
}
footer {
  text-align: center;
  background-color: rgb(0, 0, 0);
  height: 100px;
  font-size: 24px;
}

@media screen and (max-width: 1366px) {
  /*Todos los headers*/
  .HeaderGrid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    height: 200vh;
  }
  .HeaderGrid .HeaderGridBienvenida {
    text-align: center;
    margin-top: 30%;
    grid-column: 2/2;
    grid-row: 1/1;
  }
  .HeaderGrid .HeaderGridBienvenida h1 {
    margin-top: 130px;
    font-size: 70px;
  }
  .HeaderGrid .HeaderGridBienvenida p {
    font-size: 30px;
  }
  .HeaderGrid .HeaderGridBienvenida .BtnHeader {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #1100ff;
    border-radius: 1rem;
    padding: 10px;
  }
  .HeaderGrid .HeaderGridimg {
    margin: 80px;
    grid-column: 1/1;
    grid-row: 1/2;
  }
  .HeaderGrid .HeaderGridimg img {
    margin-top: 90px;
    width: 450px;
  }
  .HeaderGrid .HeaderGridinfo {
    text-align: center;
    margin-top: 30%;
    grid-column: 2/2;
    grid-row: 2/2;
  }
  .HeaderGrid .HeaderGridinfo h2 {
    margin-top: 120px;
    font-size: 50px;
  }
  .HeaderGrid .HeaderGridinfo p {
    font-size: 20px;
  }
  .HeaderGrid .HeaderGridinfo .BtnHeader {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #ff0000;
    border-radius: 1rem;
    padding: 10px;
  }
  .HeaderGrid .HeaderGridimg1 {
    height: 100vh;
    grid-column: 1/1;
    grid-row: 2/3;
  }
  .HeaderGrid .HeaderGridimg1 img {
    margin-top: 120px;
    width: 80%;
  }
  .HeaderProductos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50vh;
  }
  .HeaderJuegos {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .HeaderJuegos .HeaderContentJuegos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .HeaderJuegos .HeaderContentJuegos .BtnHeader {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #ff0000;
    border-radius: 1rem;
    padding: 10px;
  }
  .HeaderContacto {
    height: 50vh;
  }
  /*Contenido de la pagina home*/
  .HomeContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    text-align: center;
    gap: 10px;
    height: 150vh;
  }
  .HomeContent .HomeTitle {
    margin-top: 50px;
    grid-column: 2/4;
    grid-row: 1/2;
    font-size: 30px;
  }
  .HomeContent .Data1 {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    height: 400px;
    width: 300px;
    grid-column: 2/2;
    grid-row: 2/2;
    -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
  }
  .HomeContent .Data1 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .HomeContent .Data1 .DivData {
    width: 100%;
    height: 100px;
    background-color: #fff;
  }
  .HomeContent .Data1 .DivData p {
    padding: 10px;
    font-size: 14px;
  }
  .HomeContent .Data1 img {
    padding: 0px;
    width: 100%;
  }
  .HomeContent .Data2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    height: 400px;
    width: 300px;
    grid-column: 3/4;
    grid-row: 2/2;
    -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
  }
  .HomeContent .Data2 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .HomeContent .Data2 .DivData {
    width: 100%;
    height: 100px;
    background-color: #fff;
  }
  .HomeContent .Data2 .DivData p {
    padding: 10px;
    font-size: 15px;
  }
  .HomeContent .Data2 img {
    padding: 0px;
    width: 100%;
  }
  .HomeContent .Data3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    height: 400px;
    width: 300px;
    grid-column: 2/4;
    grid-row: 3/3;
    -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
  }
  .HomeContent .Data3 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .HomeContent .Data3 .DivData {
    width: 100%;
    height: 100px;
    background-color: #fff;
  }
  .HomeContent .Data3 .DivData p {
    padding: 10px;
    font-size: 15px;
  }
  .HomeContent .Data3 img {
    padding: 0px;
    width: 100%;
  }
  .HomeContent .Data4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    height: 400px;
    width: 300px;
    grid-column: 3/4;
    grid-row: 3/3;
    -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
  }
  .HomeContent .Data4 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .HomeContent .Data4 .DivData {
    width: 100%;
    height: 100px;
    background-color: #fff;
  }
  .HomeContent .Data4 .DivData p {
    padding: 10px;
    font-size: 15px;
  }
  .HomeContent .Data4 img {
    padding: 0px;
    width: 100%;
  }
  .HomeContent2 {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(4, 2fr);
    height: 100vh;
  }
  .HomeContent2 .HomeTitle2 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    grid-column: 1/5;
    grid-row: 1/1;
    margin-top: 50px;
  }
  .HomeContent2 .Data5 {
    background-color: #f3f3f3;
    grid-row: 1/4;
    grid-column: 1/5;
    border-radius: 1rem;
    margin-bottom: 100px;
  }
  .HomeContent2 .Data5 .fa-check {
    margin: 10px;
    margin-top: 16px;
    font-size: 24px;
  }
  .HomeContent2 .Data5 .fa-check span {
    margin-left: 10px;
    font-size: 15px;
  }
}
/* Tamaño de tablets */
@media screen and (max-width: 765px) {
  /*Todos los headers*/
  .HeaderGrid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    height: 200vh;
  }
  .HeaderGrid .HeaderGridBienvenida {
    text-align: center;
    margin-top: 30%;
    grid-column: 2/2;
    grid-row: 1/1;
  }
  .HeaderGrid .HeaderGridBienvenida h1 {
    margin-top: 130px;
    font-size: 40px;
  }
  .HeaderGrid .HeaderGridBienvenida p {
    font-size: 30px;
  }
  .HeaderGrid .HeaderGridBienvenida .BtnHeader {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #1100ff;
    border-radius: 1rem;
    padding: 10px;
  }
  .HeaderGrid .HeaderGridimg {
    margin: 80px;
    grid-column: 1/1;
    grid-row: 1/2;
  }
  .HeaderGrid .HeaderGridimg img {
    margin-top: 90px;
    width: 250px;
  }
  .HeaderGrid .HeaderGridinfo {
    text-align: center;
    margin-top: 30%;
    grid-column: 2/2;
    grid-row: 2/2;
  }
  .HeaderGrid .HeaderGridinfo h2 {
    margin-top: 120px;
    font-size: 50px;
  }
  .HeaderGrid .HeaderGridinfo p {
    font-size: 20px;
  }
  .HeaderGrid .HeaderGridinfo .BtnHeader {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #ff0000;
    border-radius: 1rem;
    padding: 10px;
  }
  .HeaderGrid .HeaderGridimg1 {
    height: 100vh;
    grid-column: 1/1;
    grid-row: 2/3;
  }
  .HeaderGrid .HeaderGridimg1 img {
    margin-top: 120px;
    width: 80%;
  }
  .HeaderProductos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50vh;
  }
  .HeaderJuegos {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .HeaderJuegos .HeaderContentJuegos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .HeaderJuegos .HeaderContentJuegos .BtnHeader {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #ff0000;
    border-radius: 1rem;
    padding: 10px;
  }
  .HeaderContacto {
    height: 50vh;
  }
  /*Contenido de la pagina home*/
  .HomeContent {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(5, 1fr);
    text-align: center;
    gap: 10px;
    height: 100vh;
  }
  .HomeContent .HomeTitle {
    margin-top: 50px;
    grid-column: 2/4;
    grid-row: 1/2;
    font-size: 30px;
  }
  .HomeContent .Data1 {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    height: 100%;
    width: 100%;
    grid-column: 2/2;
    grid-row: 2/2;
    -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
  }
  .HomeContent .Data1 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .HomeContent .Data1 .DivData {
    width: 100%;
    height: 100px;
    background-color: #fff;
  }
  .HomeContent .Data1 .DivData p {
    padding: 10px;
    font-size: 14px;
  }
  .HomeContent .Data1 img {
    padding: 0px;
    width: 100%;
  }
  .HomeContent .Data2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    height: 100%;
    width: 100%;
    grid-column: 3/4;
    grid-row: 2/2;
    -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
  }
  .HomeContent .Data2 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .HomeContent .Data2 .DivData {
    width: 100%;
    height: 100px;
    background-color: #fff;
  }
  .HomeContent .Data2 .DivData p {
    padding: 10px;
    font-size: 15px;
  }
  .HomeContent .Data2 img {
    padding: 0px;
    width: 100%;
  }
  .HomeContent .Data3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    height: 100%;
    width: 50%;
    grid-column: 2/4;
    grid-row: 3/3;
    -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
  }
  .HomeContent .Data3 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .HomeContent .Data3 .DivData {
    width: 100%;
    height: 100px;
    background-color: #fff;
  }
  .HomeContent .Data3 .DivData p {
    padding: 10px;
    font-size: 15px;
  }
  .HomeContent .Data3 img {
    padding: 0px;
    width: 100%;
  }
  .HomeContent .Data4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    height: 100%;
    width: 100%;
    grid-column: 3/4;
    grid-row: 3/3;
    -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
  }
  .HomeContent .Data4 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .HomeContent .Data4 .DivData {
    width: 100%;
    height: 100px;
    background-color: #fff;
  }
  .HomeContent .Data4 .DivData p {
    padding: 10px;
    font-size: 15px;
  }
  .HomeContent .Data4 img {
    padding: 0px;
    width: 100%;
  }
  .HomeContent2 {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(4, 2fr);
    height: 100vh;
  }
  .HomeContent2 .HomeTitle2 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    grid-column: 1/5;
    grid-row: 1/1;
    margin-top: 50px;
  }
  .HomeContent2 .Data5 {
    background-color: #f3f3f3;
    grid-row: 2/5;
    grid-column: 1/5;
    border-radius: 1rem;
  }
  .HomeContent2 .Data5 .fa-check {
    margin: 10px;
    margin-top: 16px;
    font-size: 24px;
  }
  .HomeContent2 .Data5 .fa-check span {
    margin-left: 10px;
    font-size: 15px;
  }
  /*=============================Equipos html===============================*/
  .ContainerEquipo1 {
    background-color: rgb(188, 197, 197);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 50vh;
  }
  .ContainerEquipo1 .Equipo1 {
    grid-column: 4/4;
    grid-row: 1/2;
  }
  .ContainerEquipo1 .Equipo1 .Equipo {
    margin-top: 70px;
    height: 400px;
  }
  .ContainerEquipo1 .Caracteristicas {
    margin-top: 150px;
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .ContainerEquipo1 .Caracteristicas h2 {
    font-size: 38px;
  }
  .ContainerEquipo1 .Caracteristicas p {
    font-size: 20px;
  }
  .ContainerEquipo2 {
    background-color: rgb(188, 197, 197);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 60vh;
  }
  .ContainerEquipo2 .Equipo2 {
    grid-column: 1/1;
    grid-row: 1/4;
  }
  .ContainerEquipo2 .Equipo2 .Equipo {
    margin-top: 70px;
    height: 400px;
  }
  .ContainerEquipo2 .Caracteristicas2 {
    text-align: center;
    grid-column: 2/4;
    grid-row: 1/2;
    margin-top: 150px;
  }
  .ContainerEquipo2 .Caracteristicas2 h2 {
    font-size: 38px;
  }
  .ContainerEquipo2 .Caracteristicas2 p {
    font-size: 20px;
  }
  .ContainerEquipo3 {
    background-color: rgb(188, 197, 197);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 60vh;
  }
  .ContainerEquipo3 .Equipo3 {
    grid-column: 3/3;
    grid-row: 1/4;
  }
  .ContainerEquipo3 .Equipo3 .Equipo {
    height: 400px;
  }
  .ContainerEquipo3 .Caracteristicas3 {
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/1;
    margin-top: 150px;
  }
  .ContainerEquipo3 .Caracteristicas3 h2 {
    font-size: 30px;
  }
  .ContainerEquipo3 .Caracteristicas3 p {
    font-size: 20px;
  }
}
/*=========Productos y juegos html ===========*/
.ContainerProductos .carousel-dark {
  padding: 80px;
}
.ContainerProductos .ProductosMouse {
  height: 60vh;
}
.ContainerProductos .ProductosMouse .card-body p {
  font-size: 20px;
}
.ContainerProductos .ProductosMouse .card-body p span {
  color: rgb(255, 0, 0);
  font-size: 28px;
}
.ContainerProductos .TitleMouse {
  background-color: aqua;
  padding: 20px;
  text-align: center;
  font-size: 40px;
}

.ContainerProductos2 .carousel-dark {
  padding: 80px;
}
.ContainerProductos2 .ProductosTeclados {
  height: 100vh;
}
.ContainerProductos2 .TitleTeclados {
  background-color: red;
  padding: 20px;
  text-align: center;
  font-size: 40px;
}

.ContainerProductos3 .carousel-dark {
  padding: 80px;
}
.ContainerProductos3 .ProductosAudifonos {
  height: 60vh;
}
.ContainerProductos3 .TitleAudifonos {
  background-color: green;
  padding: 20px;
  text-align: center;
  font-size: 40px;
}

/*Juegoshtml */
.ContainerProductosJuegos .carousel-dark {
  padding: 60px;
}
.ContainerProductosJuegos .ProductosJuegos {
  height: 60vh;
}
.ContainerProductosJuegos .ProductosJuegos .card-body p {
  font-size: 15px;
}
.ContainerProductosJuegos .ProductosJuegos .card-body p span {
  color: rgb(255, 0, 0);
  font-size: 28px;
}
.ContainerProductosJuegos .TitleJuegos {
  background-color: aqua;
  padding: 20px;
  text-align: center;
  font-size: 60px;
}

/* Tamaño de telefonos */
@media screen and (max-width: 365px) {
  /*Todos los headers*/
  .HeaderGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1rem, 1fr));
    grid-auto-rows: 18rem;
    height: 200vh;
  }
  .HeaderGrid .HeaderGridBienvenida {
    text-align: center;
    margin-top: 30%;
    grid-column: 1/25;
    grid-row: 1/2;
  }
  .HeaderGrid .HeaderGridBienvenida h1 {
    margin-top: 230px;
    font-size: 40px;
  }
  .HeaderGrid .HeaderGridBienvenida p {
    font-size: 24px;
  }
  .HeaderGrid .HeaderGridBienvenida .BtnHeader {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #2113ee;
    border-radius: 1rem;
    padding: 10px;
  }
  .HeaderGrid .HeaderGridimg {
    margin: 80px;
    grid-column: 1/3;
    grid-row: 1/1;
  }
  .HeaderGrid .HeaderGridimg img {
    margin-top: 30px;
    margin-left: 10%;
    width: 230px;
  }
  .HeaderGrid .HeaderGridinfo {
    text-align: center;
    margin-top: 30%;
    grid-column: 1/25;
    grid-row: 2/2;
    margin-top: 240px;
  }
  .HeaderGrid .HeaderGridinfo h2 {
    margin-top: 120px;
    font-size: 50px;
  }
  .HeaderGrid .HeaderGridinfo p {
    font-size: 20px;
  }
  .HeaderGrid .HeaderGridinfo .BtnHeader {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #ff0000;
    border-radius: 1rem;
    padding: 10px;
  }
  .HeaderGrid .HeaderGridimg1 {
    text-align: center;
    margin-left: 10%;
    grid-column: 1/2;
    grid-row: 2/2;
  }
  .HeaderGrid .HeaderGridimg1 img {
    margin-top: 120px;
    margin-left: 15%;
    width: 200px;
  }
  .HeaderProductos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }
  .HeaderProductos h1 {
    font-size: 40px;
  }
  .HeaderJuegos {
    height: 130vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .HeaderJuegos h1 {
    font-size: 40px;
  }
  .HeaderJuegos .HeaderContentJuegos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .HeaderJuegos .HeaderContentJuegos .BtnHeader {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background-color: #ff0000;
    border-radius: 1rem;
    padding: 10px;
  }
  .HeaderContacto {
    height: 100vh;
  }
  /*Contenido de la pagina home*/
  .HomeContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    height: 100vh;
  }
  .HomeContent .HomeTitle {
    margin-top: 50px;
    grid-column: 1/3;
    grid-row: 1/1;
    font-size: 30px;
  }
  .HomeContent .Data1 {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    height: 300px;
    width: 150px;
    grid-column: 2/2;
    grid-row: 2/2;
    -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
  }
  .HomeContent .Data1 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .HomeContent .Data1 .DivData {
    width: 100%;
    height: 100px;
    background-color: #fff;
  }
  .HomeContent .Data1 .DivData p {
    padding: 10px;
    font-size: 14px;
  }
  .HomeContent .Data1 img {
    padding: 0px;
    width: 100%;
  }
  .HomeContent .Data2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    height: 300px;
    width: 150px;
    grid-column: 1/2;
    grid-row: 2/2;
    -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
  }
  .HomeContent .Data2 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .HomeContent .Data2 .DivData {
    width: 100%;
    height: 100px;
    background-color: #fff;
  }
  .HomeContent .Data2 .DivData p {
    padding: 10px;
    font-size: 14px;
  }
  .HomeContent .Data2 img {
    padding: 0px;
    width: 100%;
  }
  .HomeContent .Data3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    height: 300px;
    width: 150px;
    grid-column: 1/3;
    grid-row: 4/3;
    -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
  }
  .HomeContent .Data3 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .HomeContent .Data3 .DivData {
    width: 100%;
    height: 100px;
    background-color: #fff;
  }
  .HomeContent .Data3 .DivData p {
    padding: 10px;
    font-size: 14px;
  }
  .HomeContent .Data3 img {
    padding: 0px;
    width: 100%;
  }
  .HomeContent .Data4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    height: 300px;
    width: 150px;
    grid-column: 3/2;
    grid-row: 3/3;
    -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
  }
  .HomeContent .Data4 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .HomeContent .Data4 .DivData {
    width: 100%;
    height: 100px;
    background-color: #fff;
  }
  .HomeContent .Data4 .DivData p {
    padding: 10px;
    font-size: 14px;
  }
  .HomeContent .Data4 img {
    padding: 0px;
    width: 100%;
  }
  .HomeContent2 {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(4, 2fr);
    height: 100vh;
    margin-bottom: 150px;
  }
  .HomeContent2 .HomeTitle2 {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    grid-column: 1/5;
    grid-row: 1/1;
    margin-top: 100px;
  }
  .HomeContent2 .Data5 {
    background-color: #ffffff;
    grid-row: 2/2;
    grid-column: 1/5;
    border-radius: 1rem;
    height: 590px;
    -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
  }
  .HomeContent2 .Data5 .fa-check {
    margin: 10px;
    margin-top: 16px;
    font-size: 20px;
  }
  .HomeContent2 .Data5 .fa-check span {
    margin-left: 10px;
    font-size: 15px;
  }
  /*=============================Equipos html===============================*/
  .ContainerEquipo1 {
    background-color: rgb(188, 197, 197);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 50vh;
  }
  .ContainerEquipo1 .Equipo1 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .ContainerEquipo1 .Equipo1 .Equipo {
    margin-top: 140px;
    height: 200px;
  }
  .ContainerEquipo1 .Caracteristicas {
    margin-top: 150px;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .ContainerEquipo1 .Caracteristicas h2 {
    font-size: 24px;
  }
  .ContainerEquipo1 .Caracteristicas p {
    font-size: 15px;
  }
  .ContainerEquipo2 {
    background-color: rgb(188, 197, 197);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 60vh;
  }
  .ContainerEquipo2 .Equipo2 {
    grid-column: 1/1;
    grid-row: 1/4;
  }
  .ContainerEquipo2 .Equipo2 .Equipo {
    margin-top: 150px;
    height: 180px;
  }
  .ContainerEquipo2 .Caracteristicas2 {
    text-align: center;
    grid-column: 2/4;
    grid-row: 1/2;
    margin-top: 150px;
  }
  .ContainerEquipo2 .Caracteristicas2 h2 {
    font-size: 24px;
  }
  .ContainerEquipo2 .Caracteristicas2 p {
    font-size: 15px;
  }
  .ContainerEquipo3 {
    background-color: rgb(188, 197, 197);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 60vh;
  }
  .ContainerEquipo3 .Equipo3 {
    grid-column: 3/3;
    grid-row: 1/4;
  }
  .ContainerEquipo3 .Equipo3 .Equipo {
    margin-top: 150px;
    height: 180px;
  }
  .ContainerEquipo3 .Caracteristicas3 {
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/1;
  }
  .ContainerEquipo3 .Caracteristicas3 h2 {
    font-size: 20px;
  }
  .ContainerEquipo3 .Caracteristicas3 p {
    font-size: 15px;
  }
}
/*=========Productos y juegos html ===========*/
.ContainerProductos .cards-wrapper {
  padding: 0px;
  width: 300px;
  height: 100%;
}
.ContainerProductos .cards-wrapper .card {
  margin: 3px;
  width: 300px;
  height: 320px;
}
.ContainerProductos .cards-wrapper .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.ContainerProductos .cards-wrapper .card .card-body .btn {
  width: 100%;
}
.ContainerProductos .carousel-dark {
  padding: 0px;
}
.ContainerProductos .ProductosMouse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ContainerProductos .ProductosMouse .card-body p {
  font-size: 15px;
  text-align: center;
}
.ContainerProductos .ProductosMouse .card-body p span {
  color: rgb(255, 0, 0);
  font-size: 20px;
}
.ContainerProductos .TitleMouse {
  background-color: aqua;
  padding: 20px;
  text-align: center;
  font-size: 40px;
}

.ContainerProductos2 .cards-wrapper {
  padding: 0px;
  width: 300px;
  height: 100%;
}
.ContainerProductos2 .cards-wrapper .card {
  margin: 3px;
  width: 300px;
  height: 320px;
}
.ContainerProductos2 .cards-wrapper .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.ContainerProductos2 .cards-wrapper .card .card-body .btn {
  width: 100%;
}
.ContainerProductos2 .carousel-dark {
  padding: 0px;
}
.ContainerProductos2 .ProductosTeclados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ContainerProductos2 .ProductosTeclados .card-body p {
  font-size: 15px;
  text-align: center;
}
.ContainerProductos2 .ProductosTeclados .card-body p span {
  color: rgb(255, 0, 0);
  font-size: 20px;
}
.ContainerProductos2 .TitleTeclados {
  background-color: aqua;
  padding: 20px;
  text-align: center;
  font-size: 40px;
}

.ContainerProductos3 .cards-wrapper {
  padding: 0px;
  width: 300px;
  height: 100%;
}
.ContainerProductos3 .cards-wrapper .card {
  margin: 3px;
  width: 300px;
  height: 320px;
}
.ContainerProductos3 .cards-wrapper .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.ContainerProductos3 .cards-wrapper .card .card-body .btn {
  width: 100%;
}
.ContainerProductos3 .carousel-dark {
  padding: 0px;
}
.ContainerProductos3 .ProductosAudifonos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ContainerProductos3 .ProductosAudifonos .card-body p {
  font-size: 15px;
  text-align: center;
}
.ContainerProductos3 .ProductosAudifonos .card-body p span {
  color: rgb(255, 0, 0);
  font-size: 20px;
}
.ContainerProductos3 .TitleAudifonos {
  background-color: aqua;
  padding: 20px;
  text-align: center;
  font-size: 40px;
}

/*Juegoshtml */
.ContainerProductosJuegos .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ContainerProductosJuegos .card {
  max-width: 100%;
}