@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Exo 2", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.BodyHome {
  background-color: hsl(196, 100%, 50%);
  background-image: radial-gradient(at 40% 20%, hsl(240, 68%, 54%) 0px, transparent 50%), radial-gradient(at 80% 0%, hsl(212, 93%, 61%) 0px, transparent 50%), radial-gradient(at 0% 50%, hsl(240, 93%, 58%) 0px, transparent 50%), radial-gradient(at 80% 50%, hsl(237, 100%, 76%) 0px, transparent 50%), radial-gradient(at 0% 100%, hsl(210, 89%, 58%) 0px, transparent 50%), radial-gradient(at 80% 100%, hsl(240, 69%, 52%) 0px, transparent 50%), radial-gradient(at 0% 0%, hsl(240, 72%, 54%) 0px, transparent 50%);
}

.logo {
  width: 60px;
}

.navbar {
  -webkit-box-shadow: 2px 10px 11px -4px rgba(0, 0, 0, 0.57);
          box-shadow: 2px 10px 11px -4px rgba(0, 0, 0, 0.57);
}

.navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navbar-collapse .nav-link {
  font-size: 20px;
  text-align: center;
  color: #000000;
  margin: 5px;
  border-radius: 1rem;
  font-family: "Anton", sans-serif;
}
.navbar-collapse .nav-link:hover {
  color: #fff;
  background-color: #000;
}

/*  Header de la pagina de home */
.HeaderGrid {
  display: grid;
  grid-template-columns: 4fr 1fr 2fr 2fr;
  grid-template-rows: 4fr 2fr;
  height: 200vh;
}
@media screen and (max-width: 800px) {
  .HeaderGrid {
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
  }
}
@media screen and (max-width: 480px) {
  .HeaderGrid {
    grid-template-columns: repeat(auto-fill, minmax(1rem, 1fr));
    grid-auto-rows: 18rem;
    height: 200vh;
  }
}
.HeaderGrid .HeaderGridBienvenida {
  text-align: center;
  margin-top: 30%;
  grid-column: 2/4;
  grid-row: 1/1;
}
@media screen and (max-width: 800px) {
  .HeaderGrid .HeaderGridBienvenida {
    margin-top: 30%;
    grid-column: 2/2;
    grid-row: 1/1;
  }
}
@media screen and (max-width: 480px) {
  .HeaderGrid .HeaderGridBienvenida {
    grid-column: 1/25;
    grid-row: 1/2;
  }
}
.HeaderGrid .HeaderGridBienvenida h1 {
  margin-top: 180px;
  font-size: 84px;
  font-family: "Pacifico", cursive;
  color: #ffffff;
}
@media screen and (max-width: 800px) {
  .HeaderGrid .HeaderGridBienvenida h1 {
    margin-bottom: 30px;
    margin-top: 130px;
    font-size: 40px;
  }
}
@media screen and (max-width: 480px) {
  .HeaderGrid .HeaderGridBienvenida h1 {
    margin-bottom: 20px;
    margin-top: 230px;
    font-size: 40px;
    margin-top: 340px;
  }
}
.HeaderGrid .HeaderGridBienvenida .BtnHeader {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 10px;
}
.HeaderGrid .HeaderGridimg {
  margin-top: 150px;
  grid-column: 1/1;
  grid-row: 1/2;
}
@media screen and (max-width: 800px) {
  .HeaderGrid .HeaderGridimg {
    margin: 80px;
    grid-column: 1/1;
    grid-row: 1/2;
  }
}
@media screen and (max-width: 480px) {
  .HeaderGrid .HeaderGridimg {
    margin: 80px;
    grid-column: 1/3;
    grid-row: 1/1;
    margin-top: 200px;
  }
}
.HeaderGrid .HeaderGridimg img {
  width: 70%;
}
@media screen and (max-width: 800px) {
  .HeaderGrid .HeaderGridimg img {
    margin-top: 90px;
    width: 150%;
  }
}
@media screen and (max-width: 480px) {
  .HeaderGrid .HeaderGridimg img {
    margin-top: 30px;
    margin-left: 10%;
    width: 230px;
  }
}
.HeaderGrid .HeaderGridinfo {
  text-align: center;
  margin-top: 30%;
  grid-column: 2/4;
  grid-row: 2/2;
}
@media screen and (max-width: 800px) {
  .HeaderGrid .HeaderGridinfo {
    margin-top: 30%;
    grid-column: 2/2;
    grid-row: 2/2;
  }
}
@media screen and (max-width: 480px) {
  .HeaderGrid .HeaderGridinfo {
    margin-top: 30%;
    grid-column: 1/25;
    grid-row: 2/2;
    margin-top: 240px;
  }
}
.HeaderGrid .HeaderGridinfo h2 {
  font-size: 60px;
  font-family: "Anton", sans-serif;
  color: #ffffff;
}
@media screen and (max-width: 800px) {
  .HeaderGrid .HeaderGridinfo h2 {
    margin-top: 120px;
    font-size: 50px;
    font-family: "Anton", sans-serif;
  }
}
@media screen and (max-width: 480px) {
  .HeaderGrid .HeaderGridinfo h2 {
    margin-top: 200px;
    font-size: 40px;
    font-family: "Anton", sans-serif;
  }
}
.HeaderGrid .HeaderGridinfo p {
  font-size: 30px;
  color: #ffffff;
}
@media screen and (max-width: 800px) {
  .HeaderGrid .HeaderGridinfo p {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .HeaderGrid .HeaderGridinfo p {
    font-size: 20px;
  }
}
.HeaderGrid .HeaderGridinfo .BtnHeader {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  background-color: #fdfdfd;
  border-radius: 1rem;
  padding: 10px;
}
.HeaderGrid .HeaderGridimg1 {
  height: 100vh;
  grid-column: 1/1;
  grid-row: 2/3;
}
@media screen and (max-width: 800px) {
  .HeaderGrid .HeaderGridimg1 {
    height: 100vh;
    grid-column: 1/1;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 480px) {
  .HeaderGrid .HeaderGridimg1 {
    text-align: center;
    grid-column: 1/2;
    grid-row: 2/2;
    margin-bottom: 20px;
    height: 40vh;
  }
}
.HeaderGrid .HeaderGridimg1 img {
  width: 60%;
  margin-top: 150px;
  margin-left: 5rem;
}
@media screen and (max-width: 800px) {
  .HeaderGrid .HeaderGridimg1 img {
    margin-top: 190px;
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .HeaderGrid .HeaderGridimg1 img {
    margin-left: 90px;
    width: 200px;
    height: 250px;
  }
}

/*  Header de la pagina de productos */
.HeaderProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35vh;
}
@media screen and (max-width: 480px) {
  .HeaderProductos {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20vh;
    margin-bottom: 30px;
  }
}
.HeaderProductos h1 {
  font-family: "Anton", sans-serif;
  font-size: 80px;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 480px) {
  .HeaderProductos h1 {
    margin-top: 90px;
    text-align: center;
    font-size: 32px;
    font-family: "Anton", sans-serif;
  }
}

/*  Header de la pagina de juegos */
.HeaderJuegos {
  margin-top: 90px;
}
@media screen and (max-width: 480px) {
  .HeaderJuegos {
    margin-top: 75px;
  }
}

/*  Header de la pagina de contacto */
.HeaderContacto {
  background-color: rgb(255, 255, 255);
  height: 20vh;
}

.ContainerProductos .carousel {
  width: 100%;
}
.ContainerProductos .carousel span {
  background-color: rgb(0, 0, 0);
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.ContainerProductos .carousel span:hover {
  background-color: orange;
}
@media screen and (max-width: 480px) {
  .ContainerProductos .carousel span {
    height: 30px;
    width: 30px;
    margin-bottom: 250px;
  }
}
.ContainerProductos .containerslide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  margin: 50px;
}
@media screen and (max-width: 480px) {
  .ContainerProductos .containerslide {
    gap: 10px;
    margin: 20px;
  }
}
.ContainerProductos .containerslide .itemslide {
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(255, 253, 253);
  -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
  padding: 15px;
  border-radius: 20px;
}
@media screen and (max-width: 480px) {
  .ContainerProductos .containerslide .itemslide {
    height: 200px;
  }
}
.ContainerProductos .containerslide .itemslide img {
  width: 100%;
}
.ContainerProductos .containerslide .itemslide p {
  font-size: 24px;
  color: red;
}
@media screen and (max-width: 480px) {
  .ContainerProductos .containerslide .itemslide p {
    font-size: 20px;
    margin: 0px;
  }
}
.ContainerProductos .containerslide .itemslide a {
  -webkit-box-shadow: inset 0px 2px 0px 0px #fff6af;
          box-shadow: inset 0px 2px 0px 0px #fff6af;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffec64), to(#ffab23));
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
  width: 100%;
}
.ContainerProductos .containerslide .itemslide a:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffab23), to(#ffec64));
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}
.ContainerProductos .containerslide .itemslide a:active {
  position: relative;
  top: 1px;
}
@media screen and (max-width: 480px) {
  .ContainerProductos .containerslide .itemslide a {
    padding: 2px;
    width: 80px;
  }
}
.ContainerProductos .TitleMouse {
  font-family: "Anton", sans-serif;
  padding: 20px;
  text-align: center;
  font-size: 60px;
  margin-top: 100px;
}

.ContainerProductos2 .carousel span {
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.ContainerProductos2 .carousel span:hover {
  background-color: orange;
}
@media screen and (max-width: 480px) {
  .ContainerProductos2 .carousel span {
    height: 30px;
    width: 30px;
    margin-bottom: 250px;
  }
}
.ContainerProductos2 .containerslide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  margin: 50px;
}
@media screen and (max-width: 480px) {
  .ContainerProductos2 .containerslide {
    gap: 10px;
  }
}
.ContainerProductos2 .containerslide .itemslide {
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(255, 253, 253);
  -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
  padding: 15px;
  border-radius: 20px;
}
@media screen and (max-width: 480px) {
  .ContainerProductos2 .containerslide .itemslide {
    height: 200px;
  }
}
.ContainerProductos2 .containerslide .itemslide img {
  height: 100%;
}
.ContainerProductos2 .containerslide .itemslide p {
  font-size: 24px;
  color: red;
}
@media screen and (max-width: 480px) {
  .ContainerProductos2 .containerslide .itemslide p {
    font-size: 20px;
    margin: 0px;
  }
}
.ContainerProductos2 .containerslide .itemslide a {
  -webkit-box-shadow: inset 0px 2px 0px 0px #fff6af;
          box-shadow: inset 0px 2px 0px 0px #fff6af;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffec64), to(#ffab23));
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
  width: 100%;
}
.ContainerProductos2 .containerslide .itemslide a:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffab23), to(#ffec64));
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}
.ContainerProductos2 .containerslide .itemslide a:active {
  position: relative;
  top: 1px;
}
@media screen and (max-width: 480px) {
  .ContainerProductos2 .containerslide .itemslide a {
    padding: 2px;
    width: 80px;
  }
}
.ContainerProductos2 .ProductosTeclados {
  height: 60vh;
}
.ContainerProductos2 .TitleTeclados {
  font-family: "Anton", sans-serif;
  padding: 20px;
  text-align: center;
  font-size: 60px;
}

.ContainerProductos3 .carousel span {
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.ContainerProductos3 .carousel span:hover {
  background-color: orange;
}
@media screen and (max-width: 480px) {
  .ContainerProductos3 .carousel span {
    height: 30px;
    width: 30px;
    margin-bottom: 250px;
  }
}
.ContainerProductos3 .containerslide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  margin: 50px;
}
@media screen and (max-width: 480px) {
  .ContainerProductos3 .containerslide {
    gap: 10px;
  }
}
.ContainerProductos3 .containerslide .itemslide {
  max-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
  padding: 15px;
  border-radius: 20px;
}
@media screen and (max-width: 480px) {
  .ContainerProductos3 .containerslide .itemslide {
    height: 200px;
  }
}
.ContainerProductos3 .containerslide .itemslide img {
  height: 100%;
}
.ContainerProductos3 .containerslide .itemslide p {
  font-size: 24px;
  color: red;
}
@media screen and (max-width: 480px) {
  .ContainerProductos3 .containerslide .itemslide p {
    font-size: 20px;
    margin: 0px;
  }
}
.ContainerProductos3 .containerslide .itemslide a {
  -webkit-box-shadow: inset 0px 2px 0px 0px #fff6af;
          box-shadow: inset 0px 2px 0px 0px #fff6af;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffec64), to(#ffab23));
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
  width: 100%;
}
.ContainerProductos3 .containerslide .itemslide a:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffab23), to(#ffec64));
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}
.ContainerProductos3 .containerslide .itemslide a:active {
  position: relative;
  top: 1px;
}
@media screen and (max-width: 480px) {
  .ContainerProductos3 .containerslide .itemslide a {
    padding: 2px;
    width: 80px;
  }
}
.ContainerProductos3 .ProductosAudifonos {
  height: 60vh;
}
.ContainerProductos3 .TitleAudifonos {
  font-family: "Anton", sans-serif;
  padding: 20px;
  text-align: center;
  font-size: 60px;
}

/*Juegoshtml */
.ContainerProductosJuegos {
  margin-top: 50px;
}
.ContainerProductosJuegos .carousel {
  width: 100%;
}
.ContainerProductosJuegos .carousel span {
  background-color: rgb(0, 0, 0);
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.ContainerProductosJuegos .carousel span:hover {
  background-color: orange;
}
@media screen and (max-width: 480px) {
  .ContainerProductosJuegos .carousel span {
    height: 30px;
    width: 30px;
    margin-bottom: 250px;
  }
}
.ContainerProductosJuegos .containerslide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  margin: 50px;
}
@media screen and (max-width: 480px) {
  .ContainerProductosJuegos .containerslide {
    gap: 10px;
    margin: 20px;
  }
}
.ContainerProductosJuegos .containerslide .itemslide {
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(255, 253, 253);
  -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
  padding: 15px;
  border-radius: 20px;
}
@media screen and (max-width: 480px) {
  .ContainerProductosJuegos .containerslide .itemslide {
    height: 200px;
    width: 110px;
  }
}
.ContainerProductosJuegos .containerslide .itemslide img {
  width: 100%;
}
.ContainerProductosJuegos .containerslide .itemslide p {
  font-size: 24px;
  color: red;
}
@media screen and (max-width: 480px) {
  .ContainerProductosJuegos .containerslide .itemslide p {
    font-size: 20px;
    margin: 0px;
  }
}
.ContainerProductosJuegos .containerslide .itemslide a {
  -webkit-box-shadow: inset 0px 2px 0px 0px #fff6af;
          box-shadow: inset 0px 2px 0px 0px #fff6af;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffec64), to(#ffab23));
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
  width: 100%;
}
.ContainerProductosJuegos .containerslide .itemslide a:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffab23), to(#ffec64));
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}
.ContainerProductosJuegos .containerslide .itemslide a:active {
  position: relative;
  top: 1px;
}
@media screen and (max-width: 480px) {
  .ContainerProductosJuegos .containerslide .itemslide a {
    padding: 2px;
    width: 80px;
  }
}

.ContainerProductosJuegos2 .carousel span {
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.ContainerProductosJuegos2 .carousel span:hover {
  background-color: orange;
}
@media screen and (max-width: 480px) {
  .ContainerProductosJuegos2 .carousel span {
    height: 30px;
    width: 30px;
    margin-bottom: 250px;
  }
}
.ContainerProductosJuegos2 .containerslide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  margin: 50px;
}
@media screen and (max-width: 480px) {
  .ContainerProductosJuegos2 .containerslide {
    gap: 10px;
  }
}
.ContainerProductosJuegos2 .containerslide .itemslide {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
  padding: 15px;
  border-radius: 20px;
}
@media screen and (max-width: 480px) {
  .ContainerProductosJuegos2 .containerslide .itemslide {
    height: 200px;
    width: 110px;
  }
}
.ContainerProductosJuegos2 .containerslide .itemslide img {
  height: 100%;
}
.ContainerProductosJuegos2 .containerslide .itemslide p {
  font-size: 24px;
  color: red;
}
@media screen and (max-width: 480px) {
  .ContainerProductosJuegos2 .containerslide .itemslide p {
    font-size: 20px;
    margin: 0px;
  }
}
.ContainerProductosJuegos2 .containerslide .itemslide a {
  -webkit-box-shadow: inset 0px 2px 0px 0px #fff6af;
          box-shadow: inset 0px 2px 0px 0px #fff6af;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffec64), to(#ffab23));
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 1px 0px #ffee66;
  width: 100%;
}
.ContainerProductosJuegos2 .containerslide .itemslide a:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffab23), to(#ffec64));
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}
.ContainerProductosJuegos2 .containerslide .itemslide a:active {
  position: relative;
  top: 1px;
}
@media screen and (max-width: 480px) {
  .ContainerProductosJuegos2 .containerslide .itemslide a {
    padding: 2px;
    width: 80px;
  }
}

/* CONTENIDO DE LA PAGINA HOME */
.HomeTitle {
  grid-column: 2/4;
  grid-row: 1/2;
  font-size: 100px;
  font-family: "Anton", sans-serif;
  color: #fff;
  padding-top: 10rem;
  text-align: center;
}
@media screen and (max-width: 1553px) {
  .HomeTitle {
    grid-column: 1/5;
  }
}
@media screen and (max-width: 480px) {
  .HomeTitle {
    grid-column: 1/3;
    grid-row: 1/1;
    font-size: 50px;
  }
}

.HomeContent {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(4, 2fr);
  text-align: center;
  gap: 10px;
}
@media screen and (max-width: 1553px) {
  .HomeContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 800px) {
  .HomeContent {
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(5, 1fr);
    padding-top: 140px;
    gap: 10px;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 0px;
  }
}
.HomeContent .Data1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: rgb(253, 253, 253);
  border-radius: 10px;
  margin: 20px;
  height: 420px;
  width: 300px;
  grid-column: 1/1;
  grid-row: 2/2;
  -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 1553px) {
  .HomeContent .Data1 {
    height: 25rem;
    width: 16rem;
  }
}
@media screen and (max-width: 600px) {
  .HomeContent .Data1 {
    width: 12rem;
    height: 24rem;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent .Data1 {
    grid-column: 2/2;
    grid-row: 2/2;
    margin: 10px;
    height: 230px;
    width: 200px;
  }
}
.HomeContent .Data1 h2 {
  font-family: "Anton", sans-serif;
}
@media screen and (max-width: 800px) {
  .HomeContent .Data1 h2 {
    font-size: 15px;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent .Data1 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.HomeContent .Data1 .DivData {
  width: 100%;
  height: 100px;
}
@media screen and (max-width: 800px) {
  .HomeContent .Data1 .DivData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100px;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent .Data1 .DivData {
    width: 100%;
    height: 100px;
  }
}
.HomeContent .Data1 .DivData a {
  padding: 20px;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  border-radius: 1rem;
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  .HomeContent .Data1 .DivData a {
    padding: 20px;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    border-radius: 1rem;
    text-decoration: none;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent .Data1 .DivData a {
    padding-top: 8px;
    font-size: 14px;
  }
}
.HomeContent .Data1 img {
  width: 100%;
  padding: 20px;
}
@media screen and (max-width: 800px) {
  .HomeContent .Data1 img {
    padding: 0px;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent .Data1 img {
    padding: 5px;
    margin-bottom: 6px;
    width: 90%;
  }
}
.HomeContent .Data2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
  height: 420px;
  width: 300px;
  grid-column: 2/2;
  grid-row: 2/2;
  -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 1553px) {
  .HomeContent .Data2 {
    height: 25rem;
    width: 16rem;
  }
}
@media screen and (max-width: 600px) {
  .HomeContent .Data2 {
    width: 12rem;
    height: 24rem;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent .Data2 {
    margin: 10px;
    height: 230px;
    width: 180px;
    grid-column: 1/2;
    grid-row: 2/2;
  }
}
.HomeContent .Data2 h2 {
  font-family: "Anton", sans-serif;
}
@media screen and (max-width: 800px) {
  .HomeContent .Data2 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent .Data2 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.HomeContent .Data2 .DivData {
  width: 100%;
  height: 100px;
}
@media screen and (max-width: 800px) {
  .HomeContent .Data2 .DivData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100px;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent .Data2 .DivData {
    width: 100%;
    height: 100px;
  }
}
.HomeContent .Data2 .DivData a {
  padding: 20px;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  border-radius: 1rem;
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  .HomeContent .Data2 .DivData a {
    padding: 20px;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    border-radius: 1rem;
    text-decoration: none;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent .Data2 .DivData a {
    padding-top: 10px;
    font-size: 14px;
  }
}
.HomeContent .Data2 img {
  width: 100%;
  padding: 20px;
}
@media screen and (max-width: 800px) {
  .HomeContent .Data2 img {
    padding: 0px;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent .Data2 img {
    padding: 5px;
    width: 100%;
  }
}
.HomeContent .Data3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
  height: 420px;
  width: 300px;
  grid-column: 3/3;
  grid-row: 2/3;
  -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 1553px) {
  .HomeContent .Data3 {
    height: 25rem;
    width: 16rem;
  }
}
@media screen and (max-width: 600px) {
  .HomeContent .Data3 {
    width: 12rem;
    height: 24rem;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent .Data3 {
    margin: 10px;
    height: 230px;
    width: 180px;
    grid-column: 1/3;
    grid-row: 4/3;
  }
}
.HomeContent .Data3 h2 {
  font-family: "Anton", sans-serif;
}
@media screen and (max-width: 800px) {
  .HomeContent .Data3 h2 {
    font: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent .Data3 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.HomeContent .Data3 .DivData {
  width: 100%;
  height: 100px;
}
@media screen and (max-width: 800px) {
  .HomeContent .Data3 .DivData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100px;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent .Data3 .DivData {
    width: 100%;
    height: 60px;
  }
}
.HomeContent .Data3 .DivData a {
  padding: 20px;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  border-radius: 1rem;
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  .HomeContent .Data3 .DivData a {
    padding: 20px;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    border-radius: 1rem;
    text-decoration: none;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent .Data3 .DivData a {
    padding-top: 10px;
    font-size: 14px;
  }
}
.HomeContent .Data3 img {
  width: 100%;
  padding: 20px;
}
@media screen and (max-width: 800px) {
  .HomeContent .Data3 img {
    padding: 0px;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent .Data3 img {
    padding: 5px;
    margin-bottom: 6px;
    width: 100%;
  }
}
.HomeContent .Data4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
  height: 420px;
  width: 300px;
  grid-column: 4/4;
  grid-row: 2/3;
  -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 1553px) {
  .HomeContent .Data4 {
    height: 25rem;
    width: 16rem;
  }
}
@media screen and (max-width: 600px) {
  .HomeContent .Data4 {
    width: 12rem;
    height: 24rem;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent .Data4 {
    margin: 10px;
    height: 230px;
    width: 180px;
    border-radius: 10px;
    grid-column: 3/2;
    grid-row: 3/3;
  }
}
.HomeContent .Data4 h2 {
  font-family: "Anton", sans-serif;
}
@media screen and (max-width: 800px) {
  .HomeContent .Data4 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent .Data4 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.HomeContent .Data4 .DivData {
  width: 100%;
  height: 100px;
}
@media screen and (max-width: 800px) {
  .HomeContent .Data4 .DivData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100px;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent .Data4 .DivData {
    width: 100%;
    height: 60px;
    background-color: #fff;
  }
}
.HomeContent .Data4 .DivData a {
  padding: 20px;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  border-radius: 1rem;
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  .HomeContent .Data4 .DivData a {
    padding: 20px;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    border-radius: 1rem;
    text-decoration: none;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent .Data4 .DivData a {
    padding-top: 10px;
    font-size: 14px;
  }
}
.HomeContent .Data4 img {
  width: 100%;
  padding: 20px;
}
@media screen and (max-width: 800px) {
  .HomeContent .Data4 img {
    padding: 0px;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent .Data4 img {
    padding: 5px;
    margin-bottom: 6px;
    width: 100%;
  }
}

.HomeContent2 {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(4, 2fr);
}
@media screen and (max-width: 1553px) {
  .HomeContent2 {
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(6, 2fr);
  }
}
@media screen and (max-width: 800px) {
  .HomeContent2 {
    padding-top: 150px;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent2 {
    padding-top: 0;
  }
}
.HomeContent2 .HomeTitle2 {
  color: #ffffff;
  text-align: center;
  font-size: 80px;
  grid-column: 2/4;
  grid-row: 1/2;
  font-family: "Anton", sans-serif;
  margin-top: 10rem;
}
@media screen and (max-width: 800px) {
  .HomeContent2 .HomeTitle2 {
    font-size: 50px;
    grid-column: 1/5;
    grid-row: 1/1;
    margin-top: 50px;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent2 .HomeTitle2 {
    font-size: 50px;
    grid-column: 1/5;
    grid-row: 1/1;
  }
}
.HomeContent2 .Data5 {
  background-color: #f3f3f3;
  grid-row: 2/4;
  grid-column: 2/4;
  border-radius: 1rem;
  overflow: auto;
}
@media screen and (max-width: 1553px) {
  .HomeContent2 .Data5 {
    grid-row: 2/7;
    grid-column: 2/4;
    margin-bottom: 3rem;
    overflow: auto;
  }
}
@media screen and (max-width: 800px) {
  .HomeContent2 .Data5 {
    grid-row: 2/5;
    grid-column: 1/5;
    border-radius: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent2 .Data5 {
    grid-row: 2/2;
    grid-column: 1/5;
    height: 590px;
    -webkit-box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.75);
  }
}
.HomeContent2 .Data5 .fa-check {
  margin: 10px;
  margin-top: 16px;
  font-size: 24px;
}
@media screen and (max-width: 800px) {
  .HomeContent2 .Data5 .fa-check {
    margin: 10px;
    margin-top: 16px;
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent2 .Data5 .fa-check {
    margin: 10px;
    margin-top: 16px;
    font-size: 20px;
  }
}
.HomeContent2 .Data5 .fa-check span {
  margin-left: 10px;
  font-size: 18px;
  height: 100%;
}
@media screen and (max-width: 1553px) {
  .HomeContent2 .Data5 .fa-check span {
    height: 100%;
  }
}
@media screen and (max-width: 800px) {
  .HomeContent2 .Data5 .fa-check span {
    margin-left: 10px;
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .HomeContent2 .Data5 .fa-check span {
    margin-left: 10px;
    font-size: 12px;
  }
}

.ContainerEquipo1 {
  background-color: rgb(188, 197, 197);
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(3, 2fr);
}
@media screen and (max-width: 800px) {
  .ContainerEquipo1 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 50vh;
  }
}
@media screen and (max-width: 480px) {
  .ContainerEquipo1 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 50vh;
  }
}
.ContainerEquipo1 .Equipo1 {
  grid-column: 4/4;
  grid-row: 1/4;
}
@media screen and (max-width: 800px) {
  .ContainerEquipo1 .Equipo1 {
    grid-column: 4/4;
    grid-row: 1/2;
  }
}
@media screen and (max-width: 480px) {
  .ContainerEquipo1 .Equipo1 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
.ContainerEquipo1 .Equipo1 .Equipo {
  margin-top: 70px;
  height: 700px;
}
@media screen and (max-width: 800px) {
  .ContainerEquipo1 .Equipo1 .Equipo {
    margin-top: 70px;
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .ContainerEquipo1 .Equipo1 .Equipo {
    margin-top: 140px;
    height: 200px;
  }
}
.ContainerEquipo1 .Caracteristicas {
  text-align: center;
  grid-column: 2/4;
  grid-row: 2/2;
}
@media screen and (max-width: 800px) {
  .ContainerEquipo1 .Caracteristicas {
    margin-top: 150px;
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/2;
  }
}
@media screen and (max-width: 480px) {
  .ContainerEquipo1 .Caracteristicas {
    margin-top: 150px;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.ContainerEquipo1 .Caracteristicas h2 {
  font-size: 78px;
  font-family: "Anton", sans-serif;
}
@media screen and (max-width: 800px) {
  .ContainerEquipo1 .Caracteristicas h2 {
    font-size: 48px;
  }
}
@media screen and (max-width: 480px) {
  .ContainerEquipo1 .Caracteristicas h2 {
    font-size: 30px;
  }
}
.ContainerEquipo1 .Caracteristicas p {
  font-size: 30px;
}
@media screen and (max-width: 800px) {
  .ContainerEquipo1 .Caracteristicas p {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .ContainerEquipo1 .Caracteristicas p {
    font-size: 18px;
  }
}
.ContainerEquipo1 .Caracteristicas a {
  text-decoration: none;
  font-size: 24px;
  background-color: #000;
  padding: 0.5rem;
  border-radius: 10px 0px 10px;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .ContainerEquipo1 .Caracteristicas a {
    font-size: 15px;
  }
}
.ContainerEquipo1 .Caracteristicas a:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.ContainerEquipo2 {
  background-color: rgb(188, 197, 197);
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(3, 2fr);
}
@media screen and (max-width: 800px) {
  .ContainerEquipo2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 60vh;
  }
}
@media screen and (max-width: 480px) {
  .ContainerEquipo2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 60vh;
  }
}
.ContainerEquipo2 .Equipo2 {
  grid-column: 1/1;
  grid-row: 1/4;
}
@media screen and (max-width: 800px) {
  .ContainerEquipo2 .Equipo2 {
    grid-column: 1/1;
    grid-row: 1/4;
  }
}
@media screen and (max-width: 480px) {
  .ContainerEquipo2 .Equipo2 {
    grid-column: 1/1;
    grid-row: 1/4;
  }
}
.ContainerEquipo2 .Equipo2 .Equipo {
  margin-top: 70px;
  height: 700px;
}
@media screen and (max-width: 800px) {
  .ContainerEquipo2 .Equipo2 .Equipo {
    margin-top: 70px;
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .ContainerEquipo2 .Equipo2 .Equipo {
    margin-top: 150px;
    height: 180px;
  }
}
.ContainerEquipo2 .Caracteristicas2 {
  text-align: center;
  grid-column: 2/4;
  grid-row: 2/2;
}
@media screen and (max-width: 800px) {
  .ContainerEquipo2 .Caracteristicas2 {
    text-align: center;
    grid-column: 2/4;
    grid-row: 1/2;
    margin-top: 150px;
  }
}
@media screen and (max-width: 480px) {
  .ContainerEquipo2 .Caracteristicas2 {
    grid-column: 2/4;
    grid-row: 1/2;
    margin-top: 150px;
  }
}
.ContainerEquipo2 .Caracteristicas2 h2 {
  font-size: 78px;
  font-family: "Anton", sans-serif;
}
@media screen and (max-width: 800px) {
  .ContainerEquipo2 .Caracteristicas2 h2 {
    font-size: 38px;
  }
}
@media screen and (max-width: 480px) {
  .ContainerEquipo2 .Caracteristicas2 h2 {
    font-size: 30px;
  }
}
.ContainerEquipo2 .Caracteristicas2 p {
  font-size: 30px;
}
@media screen and (max-width: 800px) {
  .ContainerEquipo2 .Caracteristicas2 p {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .ContainerEquipo2 .Caracteristicas2 p {
    font-size: 18px;
  }
}
.ContainerEquipo2 .Caracteristicas2 a {
  text-decoration: none;
  font-size: 24px;
  background-color: #000;
  padding: 0.5rem;
  border-radius: 10px 0px 10px;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .ContainerEquipo2 .Caracteristicas2 a {
    font-size: 15px;
  }
}
.ContainerEquipo2 .Caracteristicas2 a:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.ContainerEquipo3 {
  background-color: rgb(188, 197, 197);
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(3, 2fr);
}
@media screen and (max-width: 800px) {
  .ContainerEquipo3 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 60vh;
  }
}
@media screen and (max-width: 480px) {
  .ContainerEquipo3 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 60vh;
  }
}
.ContainerEquipo3 .Equipo3 {
  grid-column: 4/4;
  grid-row: 1/4;
}
@media screen and (max-width: 800px) {
  .ContainerEquipo3 .Equipo3 {
    grid-column: 3/3;
    grid-row: 1/4;
  }
}
@media screen and (max-width: 480px) {
  .ContainerEquipo3 .Equipo3 {
    grid-column: 3/3;
    grid-row: 1/4;
  }
}
.ContainerEquipo3 .Equipo3 .Equipo {
  margin-top: 70px;
  height: 700px;
}
@media screen and (max-width: 800px) {
  .ContainerEquipo3 .Equipo3 .Equipo {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .ContainerEquipo3 .Equipo3 .Equipo {
    margin-top: 10px;
    height: 200px;
  }
}
.ContainerEquipo3 .Caracteristicas3 {
  text-align: center;
  grid-column: 2/4;
  grid-row: 2/2;
}
@media screen and (max-width: 800px) {
  .ContainerEquipo3 .Caracteristicas3 {
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/1;
    margin-top: 150px;
  }
}
@media screen and (max-width: 480px) {
  .ContainerEquipo3 .Caracteristicas3 {
    grid-column: 1/3;
    grid-row: 1/1;
    margin-top: 50px;
  }
}
.ContainerEquipo3 .Caracteristicas3 h2 {
  font-size: 78px;
  font-family: "Anton", sans-serif;
}
@media screen and (max-width: 800px) {
  .ContainerEquipo3 .Caracteristicas3 h2 {
    font-size: 38px;
  }
}
@media screen and (max-width: 480px) {
  .ContainerEquipo3 .Caracteristicas3 h2 {
    font-size: 30px;
  }
}
.ContainerEquipo3 .Caracteristicas3 p {
  font-size: 30px;
}
@media screen and (max-width: 800px) {
  .ContainerEquipo3 .Caracteristicas3 p {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .ContainerEquipo3 .Caracteristicas3 p {
    font-size: 18px;
  }
}
.ContainerEquipo3 .Caracteristicas3 a {
  text-decoration: none;
  font-size: 24px;
  background-color: #000;
  padding: 0.5rem;
  border-radius: 10px 0px 10px;
  color: #fff;
}
@media screen and (max-width: 480px) {
  .ContainerEquipo3 .Caracteristicas3 a {
    font-size: 15px;
  }
}
.ContainerEquipo3 .Caracteristicas3 a:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.MainContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

form {
  background-color: #f2f2f2;
  width: 70%;
  height: 100%;
  padding: 20px;
}
form h2 {
  text-align: center;
}
form label {
  display: block;
  margin-bottom: 10px;
}
form input[type=text],
form input[type=email],
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}
form input[type=submit] {
  background-color: #008000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer {
  background-color: #24262b;
  padding: 80px 0;
}
.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}
.footer .container .footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 800px) {
  .footer .container .footer-row {
    text-align: center;
  }
}
.footer .container .footer-row .footer-links {
  width: 25%;
  padding: 0 15px;
}
@media screen and (max-width: 800px) {
  .footer .container .footer-row .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }
}
.footer .container .footer-row .footer-links h3 {
  font-size: 48px;
  color: #fff;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #00c3ff;
  display: inline-block;
  padding-bottom: 10px;
  display: inline-block;
}
.footer .container .footer-row .footer-links ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  display: block;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer .container .footer-row .footer-links ul li a:hover {
  color: #00c3ff;
  padding-left: 5px;
}