body{
    background: linear-gradient(0deg, #27252a, #383238, #504349, #6c5e61);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;
}