.HeaderGrid{
    display: grid;
    grid-template-columns: 4fr 1fr 2fr 2fr;
    grid-template-rows: 4fr 2fr ;
    height: 200vh;
    @include mobile{
        grid-template-columns: repeat(auto-fill, minmax(1rem, 1fr) );
        grid-auto-rows:18rem;
        height: 200vh;
    }

    .HeaderGridBienvenida{
        text-align: center;
        margin-top: 30%;
        grid-column:2/4 ;
        grid-row: 1/1;
        @include mobile{
            grid-column:1/25 ;
            grid-row: 1/2;
        }
        h1{
            margin-top: 180px;
            font-size: 84px;
            font-family: 'Pacifico', cursive;
            color: #000000;
            animation: move linear 2000ms infinite;
            @include mobile{
                
                margin-top: 230px;
                font-size: 40px;
                
            }
        }
     
        .BtnHeader{
            text-decoration: none;
            color: #ffffff;
            font-size: 20px;
            background-color: #ff0000;
            border-radius: 1rem;
            padding: 10px;
            margin-top: 50px;
        }
    }
    .HeaderGridimg{
        margin-top: 150px;
        grid-column:1/1 ;
        grid-row: 1/2;
        @include mobile{
            margin: 80px;
            grid-column:1/3 ;
            grid-row: 1/1;
        }
        img{
            width: 70%;
            @include mobile{
                margin-top: 30px;
                margin-left: 10%;
                width: 230px;
            }
        }
    }
    .HeaderGridinfo{
        text-align: center;
        margin-top: 30%;
        grid-column: 2/4;
        grid-row: 2/2;
        margin-top: 300px;
        @include mobile{
            margin-top: 30%;
            grid-column:1/25 ;
            grid-row: 2/2;
            margin-top: 240px;
            }
        h2{
            font-size: 60px;
            font-family: 'Anton', sans-serif;
            color: #000000;
            @include mobile{
                margin-top: 120px;
                font-size: 50px;
                }
        }
        p{
            font-size: 30px;
            color: #000000;
            @include mobile{
                font-size: 20px;
            }
        }
        .BtnHeader{
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            background-color: #ff0000;
            border-radius: 1rem;
            padding: 10px;
        }
    }
    .HeaderGridimg1{
        height: 100vh;
        grid-column: 1/1;
        grid-row: 2/3;
        @include mobile{
            text-align: center;
            grid-column:1/2 ;
            grid-row: 2/2;
        }
        img{
            width: 90%;
            margin-top: 150px;
            @include mobile{
                margin-top: 120px;
                margin-left: 40px;
                 width: 300px;
            }
        }
    }
}










.HeaderProductos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    h1{
        font-family: 'Anton', sans-serif;
        font-size: 80px;
        color: #fff;
        animation: move linear 2000ms infinite;
    }
    
}

.HeaderJuegos{
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(56,50,56);
    background: linear-gradient(7deg, rgba(56,50,56,1) 30%, rgba(39,37,42,1) 84%); 
    h1{
        font-family: 'Anton', sans-serif;
        font-size: 80px;
        color: #fff;
        animation: move linear 2000ms infinite;
    }
    .HeaderContentJuegos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .BtnHeader{
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            background-color: #ff0000;
            border-radius: 1rem;
            padding: 10px;
        }
    }
}
.HeaderContacto{
    height: 50vh;
}