.ContainerProductos{
    .ProductosMouse{
        height: 60vh;
        .card-body p{
            font-size: 20px;
            span{
                color: rgb(255, 0, 0);
                font-size: 28px;
            }
        }
    }
    .TitleMouse{
        background-color: aqua;
        padding: 20px;
        text-align: center;
        font-size: 60px;
    }
}

.ContainerProductos2{
    .ProductosTeclados{
        height: 60vh;
    }
    .TitleTeclados{
        background-color: red;
        padding: 20px;
        text-align: center;
        font-size: 60px;
    }
}
.ContainerProductos3{
    .ProductosAudifonos{
        height: 60vh;
    }
    .TitleAudifonos{
        background-color: green;
        padding: 20px;
        text-align: center;
        font-size: 60px;
    }
}

/*Juegoshtml */

.ContainerProductosJuegos{
    .ProductosJuegos{
        height: 60vh;
        .card-body p{
            font-size: 20px;
            span{
                color: rgb(255, 0, 0);
                font-size: 28px;
            }
        }
    }
    .TitleJuegos{
        background-color: aqua;
        padding: 20px;
        text-align: center;
        font-size: 60px;
    }
}